@import '@fontsource/fira-mono';

:root {
	--font-body: Futura;
}

html {
	background: #ecdaba;
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: Futura;
}

main {
	display: block;
	flex: none;
	margin: none;
	padding: none;
}

.flipped {
	transform: rotateY(180deg);
}

.flippedFront {
	transform: rotateY(0deg);
}
